.appdetails__layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.appdetails__layout--inputElement {
    display: flex;
    justify-content: space-between !important;
    gap: 1rem;
    font-size: 1.2rem;
}

.appdetails__container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: var(--grid--background);
    color: white;
    gap: 1rem;
    border-radius: 4% 4% 0 0;
}

.appdetails__container--heading {
    font-size: 30px;
    margin: 0px;
}

.appdetails__layout--footer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: end;
}

.appdetails__container--body {
    background-color: var(--grid-cards);
    padding: 1rem;
    font-size: 20px;
    border-radius: 5% 0; 
}